# Ignore Xcode specific files
.DS_Store
.plist
build/
*.xcworkspace
*.xcuserstate
*.xcuserdata/

# git remote set-url origin https://Rashi-5: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@github.com/nimnafernando/SyncSphere 